.navbar {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.header {
  position: relative;
  background: #000 url("http://static1.squarespace.com/static/557d93c8e4b07277fc7f546c/t/55d9268ae4b045f85798ffbb/1440294542105/Bigstock-+58325141+-+Notepad,+pen,+laptop+and+mouse+on+old+wooden+desk.+View+from+above+with+copy+space+in+vintage+tone..jpg?format=1500w") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 0;
}

.about {
  background: #2E2A28;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.intro-text {
  border-radius: 25px;
  text-align: center;
  padding: 50px 0;
  margin: 200px 0;
  background: rgba(0, 0, 0, 0.5);
}

hr {
  margin: 0 25px;
}

.name {
  font-size: 64px;
  color: white;
}

.skills {
  font-size: 30px;
  color: white;
}

.desktop {
  vertical-align: middle;
  font-size: 64px;
}

.divider {
  display: inline-block;
  vertical-align: middle;
  font-size: 48px;
}

.game {
  font-size: 64px;
  vertical-align: middle;
}

.world {
  font-size: 64px;
  vertical-align: middle;
}

.projects {
    background: #2E2A28;
    color: white;
    text-align: center;
}

.connect {
  background: #2E2A28;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

a { 
  color: inherit;
} 